name: Deploy Streamlit to Azure Web App

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_62EA37CE2094423EAF9C06D160082489 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_094754F49A9F4624A0F3A4829D750F2E }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_7707D1DDE7CC41D4AA00EB37D9638379 }}

      - name: Deploy
        uses: azure/webapps-deploy@v3
        with:
          app-name: binallocation
          package: .